.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #1c357a, #284491, #ffffff);
    min-height: 100vh;
}

.img1 {
    margin-top: 95px; 
    margin-bottom: 35px;
    border: 12px solid white;
}

.container {
    width: 25%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.h21 {
    text-align: center;
    color: #333;
}

.input1[type="email"],
.input1[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button1 {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    background-color: #0056b3;
}

.forgot-password1 {
    text-align: center;
    margin-top: 10px;
}

.new-account1 {
    text-align: center;
    margin-top: 10px;
}

.A1 {
    color: #007bff;
    text-decoration: none;
}